@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body{
	background-color: #171710;
	color: #c1c1b1;
}
.container{
	padding:1.5rem 1.5rem 1.5rem 1.75rem;	
	font-family: 'Open Sans',sans-serif;
}
.header{
	font-weight:lighter;
	font-size:2.5rem;
	margin-bottom:0.25rem;
}
.link{
	width:10rem;
	margin:auto;
}
a{
	color:#c1c1b1;
	text-decoration: none;
	transition: color 0.5s ease;
}
a:hover{
	color:#bc7110;
}