@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body{
	background-color: #171710;
	color: #c1c1b1;
}
.container{
	padding:1em 1em 1em 1.25em;	
	font-family: 'Open Sans',sans-serif;
}
.header{
	font-weight:lighter;
	font-size:2.5em;
}
