@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.App{
    padding:1.5rem 1.5rem 1.5rem 1.75rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.para{
	padding-bottom:0.5rem;
}