.header{
    font-weight:lighter;
	font-size:2.5rem;
	margin-bottom:0.25rem;
	transition: color 0.25s ease-in;
}

.header:hover{
	color: #bc7110;
}

.header::after{
	transition: opacity 0.25s ease;
	opacity: 0;
	color:#bc7110;
	content:'!';
}
.header:hover::after{
	opacity: 1;
}