@use './colors.scss' as c;

.container {
    display: flex;
    position: fixed;
    font-size: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.highlight {
    color: c.$accent;
}
