
@use './colors.scss' as c;

$body-bg: c.$back;
$body-color: c.$primary;
$primary: c.$accent;
$dark: lighten( c.$back,10%);

@import "../node_modules/bootstrap/scss/bootstrap";


a {
    text-decoration: none;
    color: c.$accent;
}
